<div class="mt-20 mb-10 max-w-full overflow-hidden">
  <h2 class="px-6 font-black uppercase tracking-widest text-[10px] mb-6 text-slate-400">
    1. Choisir la date (Dispo 3 semaines)
  </h2>

  <div class="date-strip-container">
    @for (day of daysList(); track day.date.getTime()) {
      <button
        (click)="selectDate(day.date)"
        [class]="isSelected(day.date) ? 'date-card date-card-active' : 'date-card date-card-inactive'">

        <span class="day-name">{{ day.dayName }}</span>
        <span class="day-number">{{ day.dayNumber }}</span>
        <span class="month-name">{{ day.monthName }}</span>

      </button>
    }
  </div>
</div>
