@if (site(); as currentSite) {
  <div class="page-container">

    <header class="page-header">
      <h1 class="page-title">{{ currentSite.clubName }}</h1>
      <p class="text-slate-500 mt-4">
        {{ currentSite.city }} — Choisit ton terrain pour accéder au calendrier.
      </p>
      <div class="title-separator"></div>
    </header>

    <div class="court-grid">
      @for (court of currentSite.courts; track court.id) {
        <app-padel-card
          [title]="court.name"
          [subtitle]="'Padel ' + court.type"
          [initial]="currentSite.initial"
          [image]="court.type.toLowerCase() === 'indoor' ? 'images/indoor_padel.jpg' : 'images/outdoor_padel.jpg'"
          [isSelected]="selectedCourt()?.id === court.id"
          [buttonLabel]="selectedCourt()?.id === court.id ? 'Terrain Sélectionné' : 'Choisir ce terrain'"
          (cardClick)="selectCourt(court)">

          Profite d'une session de jeu exceptionnelle sur notre terrain {{ court.name }}.

        </app-padel-card>
      }
    </div>
    @if (selectedCourt(); as court) {
      <div class="animate-in fade-in slide-in-from-bottom-4 duration-500">

        <app-date-selector
          [courtName]="court.name"
          [initialDate]="selectedDate()"
          (dateChange)="onDateSelected($event)">
        </app-date-selector>
        <app-time-slots
          (slotSelected)="onTimeSelected($event)">
        </app-time-slots>

        @if (selectedTime()) {
          <div class="reservation-summary-card animate-in">
            <div class="flex flex-col md:flex-row justify-between items-center gap-6">
              <div class="text-left w-full">
                <p class="text-slate-400 uppercase tracking-widest text-[10px] font-black mb-2">
                  Ta réservation
                </p>
                <h3 class="text-white text-xl md:text-2xl font-black">
                  {{ court.name }} <span class="text-emerald-400 mx-1">•</span>
                  {{ selectedDate() | date:'dd MMMM' }} à {{ selectedTime() }}
                </h3>
              </div>

              <div class="w-full md:w-auto">
                <button mat-flat-button color="primary" class="h-16 px-10 rounded-2xl text-lg font-black uppercase tracking-wide"
                (click)="onConfirmBooking()">
                  Ajouter au panier
                </button>
              </div>
            </div>
          </div>
        }
      </div>
    }
  </div>
} @else {
  <div class="min-h-screen flex items-center justify-center bg-slate-50">
    <p class="font-black uppercase tracking-widest text-slate-300 animate-pulse">
      Chargement du centre...
    </p>
  </div>
}
