<div class="page-container">

  <header class="page-header">
    <h1 class="page-title">Réserver un terrain</h1>
    <p class="page-subtitle">
      Sélectionner votre centre pour accéder aux différents terrains ainsi qu’à leurs disponibilités.
    </p>
    <div class="title-separator"></div>
  </header>

  <div class="court-grid">
    @for (site of sites; track site.id) {
      <app-padel-card
        [title]="site.city"
        [subtitle]="site.clubName"
        [initial]="site.initial"
        [image]="site.image"
        [buttonLabel]="'Réserver à ' + site.city"
        [routerLink]="['/reserver', site.id]">

        <p class="card-description">
          {{ site.description }}
        </p>

      </app-padel-card>
    }
  </div>

</div>
